#page-welcome-to-sparrow ul li {
	margin: 7px 0px;
}

#page-welcome-to-sparrow .video-placeholder-image {
	width: 100%;
	cursor: pointer;
}

#page-welcome-to-sparrow .youtube-icon {
	width: 10%;
	cursor: pointer;
}
